{{#each }}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Tasting: {{name}}</h2>
      </div>
      <div class="panel-body">
        {{#if prepared }}
          <p>
            {{#link-to 'games.play' this class="btn btn-success"}}Play{{/link-to}}
          </p>
        {{ else}}
          <p>not ready to play!</p>
        {{/if}}
      </div>
      <div class="panel-footer">
        <p>{{#link-to 'games.show' this class="text-muted"}}Manage Game{{/link-to}}</p>
      </div>
    </div>
{{/each}}

{{ outlet }}

<br>
<p>{{#link-to 'games.new' }}Create New Game{{/link-to}}</p>

<hr>
<button type="button" class="btn btn-warning"{{ action "logout" }}>Logout</button>
<p class="text-muted">User ID: {{ session.user.uid }}</p>