<div class="row">
  <div class="col-sm-12">
    You are tasting: {{ name }}
  </div>
</div>

<hr>

{{#if hasGuessed}}
<div class="row">
  <div class="col-sm-12">
    {{#if correctGuess}}
      <div>
        <h4><span class="label label-success"><i class="fontastic-check-mark"></i> &nbsp; Yes! That's right!</span></h4>
      </div>
    {{else}}
      <div>
        <h4><span class="label label-danger"><i class="fontastic-thumb-down"></i> &nbsp;  Nope, try again...</span></h4>
      </div>
    {{/if}}
  </div>
</div>
{{/if}}


<div class="row">
  <ul class="unknown-material-list list-unstyled navbar">
    {{!-- TODO: if the current user has a correct answer for a certain unknown_material,
        then we want to add class 'active' to that unknown_material's button --}}
    {{#each unknown_material in materials}}
        <li class="col-xs-3 centered" {{ bind-attr id="unknown_material.id"}}>
          <button type="button" class="btn btn-success btn-large navbar-btn" {{action "toggleChoices" unknown_material.id }}>
            {{unknown_material.position}}
          </button>
          </li>
    {{/each}}
  </ul>
</div>


<div class="row">
  {{#if showChoices}}
    <ul class="centered list-unstyled">
      {{#each material in randomMaterials}}
      <div class="col-xs-6 col-md-3">
        <button class="thumbnail random-material" {{action "guessMaterial" material.id}}>{{material.name}}</button>
      </div>
      {{/each}}
    </ul>
  {{/if}}
</div>
