<div class="row">
  <div class="col-sm-12">
    <h4>Game Master View</h4>
    <p>This is the page for a game master to setup and monitor a game.</p>
    <p>Players should not be allowed to see this game.  They should got to the /games/:game_id/play page.</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Game: {{ name }}</h3>
  </div>
  <div class="panel-body">
    <p>Tasting:</p>
    <table class="table">
      <tbody>
        {{#each material in materials}}
        <tr>
          <td>{{material.name}}</td>
          <td>{{material.position}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <hr>
    <form>
      {{input
        type="text"
        id="new-material"
        placeholder="Name of material..."
        value=materialName
      }}
      <button type="submit" {{action "addMaterial"}}>Add Material</button>
    </form>
  </div>

</div>

{{#if prepared }}
  <p>Ready to play</p>

  {{!-- <p>TODO: list all players</p> --}}

{{else}}
  <p>Not ready to play!</p>
  <p>need to add materials to game</p>

<button {{action "setPrepared"}}>All set!</button>

{{/if}}